{% extends "itreporting/base.html" %}
{% block content %}
<div style="padding: 20px; max-width: 800px; margin: auto; text-align: center;">
    <h2>About Sheffield Hallam University</h2>
    <p style="font-size: 18px; line-height: 1.6; margin-top: 20px;">
        Sheffield Hallam University is best University you could ever thing of! We're just that good!
    </p>
    <p style="font-size: 18px; line-height: 1.6; margin-top: 20px;">
        At Sheffield Hallam, we give you the support you need wether it be stress, anxiety or anthing we're here for you!
    </p>
    <p style="font-size: 18px; line-height: 1.6; margin-top: 20px;">
        Join us at the most diverse University in the UK 30,000 students! 4,000 staff! And we're waiting for you to join us!
    </p>
    <p style="font-size: 18px; line-height: 1.6; margin-top: 20px;">
        The most ambitious University in the UK having cources and modules for all your needs whatever you want we have!
    </p>
</div>
{% endblock %}