{% extends "itreporting/base.html" %}

{% block content %}
<h2>Registration List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Student</th>
            <th>Module</th>
            <th>Registration Date</th>
        </tr>
    </thead>
    <tbody>
        {% for registration in registrations %}
        <tr>
            <td>{{ registration.user.username }}</td>
            <td>{{ registration.module.name }}</td>
            <td>{{ registration.register_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}