{% extends "itreporting/base.html" %}

{% block content %}
<h2>My Registrations</h2>
<table>
    <thead>
        <tr>
            <th>Module</th>
            <th>Registration Date</th>
        </tr>
    </thead>
    <tbody>
        {% for registration in registrations %}
        <tr>
            <td>{{ registration.module.name }}</td>
            <td>{{ registration.register_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'registration-list' %}">Back to Courses</a>
{% endblock %}